<h1>{{post.title}}</h1>
<p>{{post.content}}</p>

<div class="displayInline">
  <a href='/{{post.id}}/edit' class="btn btn-default btn-sm">Edit Post</a>

  <form action="/{{post.id}}/delete" method="POST">
    <input type="hidden" name="id" value="{{post.id}}" />
    <input type="submit" class="btn btn-primary btn-sm" value="Delete Post" />
  </form>
</div>

{{#if comment}}
  <legend></legend>
  <h4>Comments:</h4>
  {{#each comment}}
    <div class="commentSection">
      <h5>AUTHOR</h5>
      <p>{{this.content}}</p>

      <form action="/comment/{{this.id}}/delete" method="POST">
        <input type="hidden" name="id" value="{{this.id}}" />
        <input type="submit" class="btn btn-primary btn-xs" value="Delete" />
      </form>

    </div>
  {{/each}}
{{/if}}

<form class="form-horizontal" action="{{post.id}}" method="POST">
  <fieldset>
    <legend></legend>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Add a Comment:</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" name="content"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default btn-sm">Cancel</button>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </div>
    </div>
  </fieldset>
</form>

<div>
  <a href="/">Back to homepage</a>
</div>
