<div class="container">
  <div class="intro">
    <h1 class="introTitle">{{title}}</h1>
    <!-- <h5>Welcome to {{title}}. The blog of all things bloggy. Blog on!</h5> -->
  </div>

  {{#each post}}
    <div id="snippets">
      <h2>{{title}}</h2>
      <h5>by AUTHOR {{user.username}}</h5>
      <p>{{snippet}}</p>
      <a href='/{{id}}'>Read more</a>
    </div>
  {{/each}}
</div>
